# Add the build script
export PATH=$PWD/contrib:$PATH

# The build version
# https://github.com/dokuwiki/dokuwiki/releases/tag/release-2025-05-14a
export DOKUWIKI_VERSION_BUILD=2025-05-14a
export DOCK_X_TAG="php8.3-$DOKUWIKI_VERSION_BUILD"

# Dock-x default
export DOCK_X_REGISTRY=ghcr.io
export DOCK_X_NAMESPACE=combostrap
export DOCK_X_NAME=dokuwiki
export DOCK_X_PORTS=8085:80
export DOCK_X_USER=1000:1000
